<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

      <header class="page-header" role="banner">
      <script type = "text/javascript">
         <!--
            if( window.location.href == "https://thecasefor.github.io/FreeWill") {
              document.open();
              document.write("<h1 id='fwHeader'>theCaseFor:<i> Free Will</i></h1>");
              document.write("<h3 id='fwQuote'>&quotYou are not controlling the storm, and you are not lost in it. You are the storm.&quot</h3>");
              document.write("<h3 id='fwQuote2'>- Sam Harris</h3>");
              document.close();
              document.getElementById("fwQuote").style.opacity = .4;
              document.getElementById("fwQuote2").style.opacity = .4;
              document.getElementById("fwQuote2").style.margin = "-10px 20px 20px 10px";
            }
          
            if( window.location.href == "https://thecasefor.github.io/") {
              document.open();
              document.write("<h1>theCaseFor</h1>");
              document.write("<h3 id='desc'>&quotThe important thing is not to stop questioning. Curiosity has its own reason for existence. One cannot help but be in awe when he contemplates the mysteries of eternity, of life, of the marvelous structure of reality.&quot</h3>");
              document.write("<h3 id='desc2'>- Albert Einstein</h3>");
              document.close();
              document.getElementById("desc").style.opacity = .4;
              document.getElementById("desc2").style.opacity = .4;
              document.getElementById("desc2").style.margin = "-10px 20px 20px 50px";
            }
        
            if( window.location.href == "https://thecasefor.github.io/MyStory") {
                  document.open();
                  document.write("<h1 id='fwHeader'><i>My Story</i></h1>");
                  document.write("<h3 id='fwQuote'>&quotBeware the irrational, however seductive. Shun the 'transcendent' and all who invite you to subordinate or annihilate yourself. Distrust compassion; prefer dignity for yourself and others. Don't be afraid to be thought arrogant or selfish. Picture all experts as if they were mammals. Never be a spectator of unfairness or stupidity. Seek out argument and disputation for their own sake; the grave will supply plenty of time for silence. Suspect your own motives, and all excuses. Do not live for others any more than you would expect others to live for you.&quot</h3>");
                  document.write("<h3 id='fwQuote2'>- Christopher Hitchens</h3>");
                  document.close();
                  document.getElementById("fwQuote").style.opacity = .4;
                  document.getElementById("fwQuote2").style.opacity = .4;
                  document.getElementById("fwQuote2").style.margin = "-10px 20px 20px 10px";
            }
        
            if( window.location.href == "https://thecasefor.github.io/ObjectiveReality") {
                  document.open();
                  document.write("<h1 id='fwHeader'>theCaseFor:<i> Objective Reality</i></h1>");
                  document.write("<h3 id='fwQuote'>&quotTo construct is the essence of vision. Dispense with construction and you dispense with vision. Everything you experience by sight is your construction.&quot</h3>");
                  document.write("<h3 id='fwQuote2'>- Donald Hoffman</h3>");
                  document.close();
                  document.getElementById("fwQuote").style.opacity = .4;
                  document.getElementById("fwQuote2").style.opacity = .4;
                  document.getElementById("fwQuote2").style.margin = "-10px 20px 20px 10px";
            }
        
         if( window.location.href == "https://thecasefor.github.io/Morality") {
                  document.open();
                  document.write("<h1 id='fwHeader'>theCaseFor:<i>Morality</i></h1>");
                  document.write("<h3 id='fwQuote'>&quotThe problem is that no ethical system has ever achieved consensus. Ethical systems are completely unlike mathematics or science. This is a source of concern.&quot</h3>");
                  document.write("<h3 id='fwQuote2'>- Daniel Dennett</h3>");
                  document.close();
                  document.getElementById("fwQuote").style.opacity = .4;
                  document.getElementById("fwQuote2").style.opacity = .4;
                  document.getElementById("fwQuote2").style.margin = "-10px 20px 20px 10px";
            }
         -->
      </script>      
      
  
      
      <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      
        
 <!-- <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
